
<app-navigation></app-navigation>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
  fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div fxFlex="20%" *ngFor="let item of products | async">
    <mat-card>
      <mat-card-title>{{ item.Name}} </mat-card-title>
      <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
      <mat-card-content>
        <p style="min-height: 80px;">
          {{ item.Description }}
        </p>
      </mat-card-content>
      <mat-card-actions  fxLayout="row" fxLayoutAlign="end center" >
        <button mat-button><button mat-raised-button (click)=openCrownAndBridge(item.ProductId) color="primary">ORDER</button></button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>






