table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  // td, th {
  //   width: 25%;
  // }

.mat-column-Telephone
{
  width:150px;
  text-align: left;
}

.mat-column-AddressLine1
{
  padding: 10px 0;
}

.mat-column-Name
{
  width:250px;
}

.mat-column-Action
{
  width:150px;
  text-align: right;
}

