table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

.mat-column-Telephone
{
  width:50px;
  text-align: center;
}

.mat-column-AddressLine1
{
  width:250px;
  padding: 10px 0;
}
.mat-column-AddressLine1
{
  width:150px;
}
