<h2 mat-dialog-title>Crown & Bridge</h2>
<mat-dialog-content class="mat-typography">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" errorMessage="Patient Details is missing.">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Details</ng-template>
        <div style="margin: 10px 0" fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="20px">
          <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
            <mat-card>
              <mat-card-title>
                <h4>Patient Details</h4>
              </mat-card-title>
              <mat-card-content fxLayout="column" fxLayoutAlign="space-between">
                <mat-form-field>
                  <mat-label>Reference</mat-label>
                  <input matInput placeholder="Last name, First name" formControlName="patientRef" required>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="Patient First name" formControlName="patientFirstName" required>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Patient Last name" formControlName="patientLastName" required>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between">
            <mat-card>
              <mat-card-title>
                <h4>Dentist & Practice Details</h4>
              </mat-card-title>
              <mat-card-content fxLayout="column" fxLayoutAlign="space-between">
                <mat-form-field>
                  <mat-label>Dentist Name</mat-label>
                  <input matInput placeholder="Last name, First name" [value]="dentistName" [disabled]=true>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Address</mat-label>
                  <mat-select name="food" formControlName="selectedAddress">
                    <mat-option *ngFor="let practice of practices" [value]="practice.PracticeId" >
                      {{practice.Name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card-content>

            </mat-card>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
          <div fxFlex="50">
            <mat-card>
              <mat-card-title>
                <h4>Delivery Date</h4>
              </mat-card-title>
              <mat-card-content fxLayout="column" fxLayoutAlign="space-between">
                <mat-form-field>
                  <mat-label>Practice Delivery Date</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="deliveryDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </mat-card-content>

            </mat-card>
          </div>
          <div fxFlex="50">
            <mat-card>
              <mat-card-title>
                <h4>Service Level</h4>
              </mat-card-title>
              <mat-card-content fxLayout="column" fxLayoutAlign="space-between">
                <mat-radio-group aria-label="Select an option" formControlName="selectedServiceLevel">
                  <mat-radio-button value="Private">Private</mat-radio-button>
                  <mat-radio-button value="Independent">Independent</mat-radio-button>
                  <mat-radio-button value="Standard">Standard</mat-radio-button>
                </mat-radio-group>
              </mat-card-content>

            </mat-card>
          </div>
        </div>
        <div>
          <div fxLayout="row" fxLayoutAlign="end center" style="padding: 10px 20px;">
            <button mat-raised-button color="primary" (click) ="OnDetailsSubmit()" matStepperNext>NEXT</button>
          </div>

        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Restoration Type</ng-template>
        <mat-card>
          <mat-card-content>
            <h4 class="example-h2">Zirconia Restorations</h4>

            <section class="example-section">
              <mat-checkbox class="example-margin">Full Form Zirconia Crown / Bridge</mat-checkbox>
              <mat-checkbox class="example-margin">Layered Zirconia Crown / Bridge</mat-checkbox>
            </section>

          </mat-card-content>
        </mat-card>
        <mat-card style="margin-top: 10px;">
          <mat-card-content>

            <h4 class="example-h2">Procelain Bonded Restorations</h4>

            <section class="example-section">
              <mat-checkbox class="example-margin">Bonded Crown (non precious)</mat-checkbox>
              <mat-checkbox class="example-margin">Bonded Crown (precious)</mat-checkbox>
              <mat-checkbox class="example-margin">Bonded Bridge (non precious)</mat-checkbox>
              <mat-checkbox class="example-margin">Bonded Bridge (precious)</mat-checkbox>
            </section>
            <section class="example-section">
              <mat-checkbox class="example-margin">Maryland (1 pontic 2 wing)</mat-checkbox>
              <mat-checkbox class="example-margin">Maryland (1 pontic 1 wing)</mat-checkbox>
            </section>
          </mat-card-content>
        </mat-card>
        <mat-card style="margin-top: 10px;">
          <mat-card-content>

            <h4 class="example-h2">Metal Only Restorations</h4>

            <section class="example-section">
              <mat-checkbox class="example-margin">Checked</mat-checkbox>
              <mat-checkbox class="example-margin">Indeterminate</mat-checkbox>
              <mat-checkbox class="example-margin">Checked</mat-checkbox>
              <mat-checkbox class="example-margin">Indeterminate</mat-checkbox>
              <mat-checkbox class="example-margin">Checked</mat-checkbox>
              <mat-checkbox class="example-margin">Indeterminate</mat-checkbox>
            </section>
          </mat-card-content>
        </mat-card>
        <mat-card style="margin-top: 10px;">
          <mat-card-content>

            <h4 class="example-h2">Metal Free Restorations</h4>

            <section class="example-section">
              <mat-checkbox class="example-margin">Composite Inlay / Onlay</mat-checkbox>
              <mat-checkbox class="example-margin">Composite Crown</mat-checkbox>
              <mat-checkbox class="example-margin">Composite Veneer</mat-checkbox>
              <mat-checkbox class="example-margin">Porcelain Veneer</mat-checkbox>
              <mat-checkbox class="example-margin">Dentain Bonded</mat-checkbox>
            </section>
            <section class="example-section">
              <mat-checkbox class="example-margin">EMAX Crown / Bridge (private only)</mat-checkbox>
              <mat-checkbox class="example-margin">EMAX Inlay / Onlay (private only)</mat-checkbox>
              <mat-checkbox class="example-margin">EMAX Veneer (private only)</mat-checkbox>
            </section>
          </mat-card-content>
        </mat-card>
        <mat-card style="margin-top: 10px;">
          <mat-card-content>

            <h4 class="example-h2">Temporary Restorations</h4>

            <section class="example-section">
              <mat-checkbox class="example-margin">PMMA Crown / Bridge</mat-checkbox>
              <mat-checkbox class="example-margin">Metal Composite Crown / Bridge</mat-checkbox>
            </section>
          </mat-card-content>
        </mat-card>
        <div>


          <div fxLayout="row" fxLayoutAlign="end center" style="padding: 10px 20px;">
            <button mat-raised-button color="warn" matStepperPrevious style="margin-right: 10px;">BACK</button>
            <button mat-raised-button color="primary" matStepperNext>NEXT</button>
          </div>


        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" errorMessage="Address is required.">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Shade</ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <p>Go to a different step to see the error state</p>
          <button mat-raised-button color="warn" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup" errorMessage="Address is required.">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>Instructions</ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <p>Go to a different step to see the error state</p>
          <button mat-raised-button color="warn" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="stepper.reset()">Place Order</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions align="start">
  <button mat-button cdkFocusInitial mat-dialog-close>Cancel</button>
</mat-dialog-actions>