<div fxLayout="row" fxLayoutAlign="space-around center" style="height:100vh">

  <div fxFlex="40" style="background-color: #3f51b5; height: 100vh;">

  </div>

  <div fxLayout="column" fxLayoutAlign="center" fxFlex="30" style="padding:2%">
    <mat-form-field appearance="outline">
      <mat-label>Email address</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Placeholder" type="password">
      <mat-icon matSuffix>visibility_off</mat-icon>
    </mat-form-field>
  
    <button mat-raised-button [routerLink]="['/dentist/home']" routerLinkActive="router-link-active" color="primary"
      style="width: 100%; padding: 8px;">Sign In</button>
      <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 10px;" >
      <span>Don't have an account? </span>
      <button mat-button color="primary" [routerLink]="['/signup']" routerLinkActive="router-link-active">Sign up</button>
      
    </div>
    <button mat-button color="primary" style="width: 100%; padding: 3px;" [routerLink]="['/signup']" routerLinkActive="router-link-active">Forgot your password ?</button>
    

  </div>

  <div fxFlex>

  </div>

</div>