<div fxLayout="row" fxLayoutAlign="space-around center">

  <div fxFlex="40" style="background: blue; width:100%; height: 100%;">

  </div>

  <div fxLayout="column" fxLayoutAlign="center" fxFlex="30" style="margin-top: 10%">
    <mat-form-field appearance="outline">
      <mat-label>Email address</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Placeholder" type="password">
      <mat-icon matSuffix>visibility_off</mat-icon>
    </mat-form-field>
    <button mat-raised-button [routerLink]="['/dentist/home']" routerLinkActive="router-link-active" color="primary"
      style="width: 100%;">Sign In</button>
    <button mat-raised-button [routerLink]="['/signup']" routerLinkActive="router-link-active"
      style="width: 100%; margin: 20px 0px">Sign Up</button>

  </div>

  <div fxFlex>

  </div>

</div>