<app-navigation></app-navigation>
<div fxLayout="column" style="padding:0 10%">
  <br>

  <h2>Dashboard</h2>
  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">

    <div fxFlex="25" class="dashborad-item">
      <h4 class="text-align-center">New Orders</h4>
      <h1 class="text-align-center">12</h1>
    </div>

    <div fxFlex="25" class="dashborad-item">
      <h4 class="text-align-center">Orders In Transit</h4>
      <h1 class="text-align-center">12</h1>
    </div>
    <div fxFlex="25" class="dashborad-item">
      <h4 class="text-align-center">Orders with Swift</h4>
      <h1 class="text-align-center">12</h1>
    </div>
    <div fxFlex="25" class="dashborad-item">
      <h4 class="text-align-center">Orders Completed</h4>
      <h1 class="text-align-center">12</h1>
    </div>

  </div>

  <br>
  <h2>Active Orders</h2>
  <mat-divider></mat-divider>
  <br>

  <mat-radio-group aria-label="Select an option" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <mat-radio-button value="1">All</mat-radio-button>
    <mat-radio-button value="2">In transit</mat-radio-button>
    <mat-radio-button value="2">With Swift</mat-radio-button>
    <mat-radio-button value="2">Completed</mat-radio-button>
  </mat-radio-group>

  <br>
  <br>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="Product">
        <th mat-header-cell *matHeaderCellDef> Product</th>
        <td mat-cell *matCellDef="let element"> {{element.ProductName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Patient">
        <th mat-header-cell *matHeaderCellDef> Patient </th>
        <td mat-cell *matCellDef="let element">{{element.PatientLastName}}, {{element.PatientFirstName}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Lab">
        <th mat-header-cell *matHeaderCellDef> Lab </th>
        <td mat-cell *matCellDef="let element">
          {{element.LabName}}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Practice">
        <th mat-header-cell *matHeaderCellDef> Practice </th>
        <td mat-cell *matCellDef="let element">
          {{element.PracticeName}}
          <p class="body-2">{{element.PracticeAddressLine1}} </p>
          <p class="body-2">{{element.PracticeCityOrTown}} </p>
          <p class="body-2">{{element.PracticePostcode}} </p>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Service">
        <th mat-header-cell *matHeaderCellDef> Service Level </th>
        <td mat-cell *matCellDef="let element"> {{element.ServiceLevel}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="DeliveryDate">
        <th mat-header-cell *matHeaderCellDef> Delivery Date </th>
        <td mat-cell *matCellDef="let element"> {{element.PracticeDeliveryDate.toDate() | date: 'EEEE, MMMM d, y'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
      </ng-container>

      <ng-container matColumnDef="Action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" aria-label="View Order" title="View Order">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button color="primary" aria-label="Add Note" title="Add Note">
            <mat-icon>edit_note</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Delete Order" title="Delete Order">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>